node_modules
package-lock.json
package.json
App/.idea/codeStyles/codeStyleConfig.xml
App/.idea/codeStyles/Project.xml
App/.idea/compiler.xml
App/.idea/deploymentTargetDropDown.xml
App/.idea/kotlinc.xml
App/.idea/misc.xml
App/.idea/misc.xml
App/.idea/misc.xml
App/.idea/misc.xml
