// 회원정보
.my-information{
    width: 98%;
    height: auto;
    margin: auto;
    background-color: #eef5ed;
    padding-top:1%;

    .my-information2{
        // margin-left:1%;
        padding-bottom:20%;
    }

    .my-information-title{
        margin-top:4%;
        margin-left:35%;
    }

    .my-information3{
        //margin-top:3%;
        margin-left:35%;
        margin-right:35%;
        padding-bottom:10px;
        padding-top:1%;
        padding-left:2%;
        background-color:white;
        border-radius:15px;
    }

    .my-information-btn{
        margin-left:34.2%;
        margin-top:1%;
    }

    .myInfo-edit, .myInfo-Logout, .myInfo-exit{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
        margin-right: 0.8%;
        margin-top: 0.8%;
    }

    .my-information-to-btn {
        margin-left:40%;
        margin-bottom:1.3%;
    }

    .myInfo-toInfo, .myInfo-toPost {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
        margin-right: 0.8%;
        margin-top: 0.8%;
    }
}

// 회원정보 수정
.my-info-edit-page {
    width: 98%;
    height: auto;
    margin: auto;
    background-color: #eef5ed;
    padding-top:1%;

    .my-info-edit-title {
        margin-top:6%;
        margin-left:35%;
    }

    .my-info-edit-page2 {
        margin-left:1%;
        padding-bottom:20%;
    }

    .my-info-edit-page3 {
        margin-left:35%;
        margin-right:35%;
        padding-bottom:8px;
        padding-top:0.8%;
        padding-left:2%;
        background-color:white;
        border-radius:15px;
    }

    .my-info-edit-btn {
        margin-left:35%;
        margin-top:1%;
    }

    input {
        font-family: 'NanumSquare', sans-serif, bold;
        color: #376330;
        
        border-color: #b4c5b0;
        border-radius: 6px;
        border-width: 2px;
        padding: 0.2%;

        width: 200px;
        height: 20px;
        margin: 3px;
    }

    .extraAddress {
        margin-left: 42px;
        width: 250px;
    }

    button {
        width: 150px;
        height: 25px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
        margin-right: 0.8%;
        margin-top: 0.8%;
    }
}

// 내 게시글
.my-post {
    width: 98%;
    height: auto;
    margin: auto;
    background-color: #eef5ed;
    padding-top:1%;

    .my-post-title {
        margin-top:6%;
        margin-left:35%;
        //margin-bottom:0.5%;
        display:flex;
    }

    .my-post-page2 {
        margin-left:1%;
        padding-bottom:30%;
    }

    .postCategory {
        font-family: 'NanumSquare', sans-serif, bold;
        color: #376330;
        
        margin-top: 1.9%;
        margin-left: 1%;
        
        border-color: #b4c5b0;
        border-radius: 6px;
        border-width: 2px;
        padding: 0.2%;
        width: 55px;
        height: 22px;
    }

    .postNotFoundTd {
        font-weight: 400;
    }

    .my-post-page3 {
        margin-left:35%;
        margin-right:35%;
        padding-bottom:1%;
        padding-top:0.8%;
        // padding-left:2%;
        background-color:white;
        border-radius:15px;
    }

    .my-post-to-btn {
        margin-left:40%;
        margin-bottom:1.3%;
    }

    .myPost-toInfo, .myPost-toPost {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
        margin-right: 0.8%;
        margin-top: 0.8%;
    }
}