/**
 * ./src/style/style.css
 */

/* 한글 웹폰트(나눔스퀘어) */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  /* width: 100%; */
  height: 100%;
}

body {
  font-family: 'NanumSquare', sans-serif, bold;
  font-weight: 900;
  margin: 0;
}

/* Link */
a {
  text-decoration: none;
  color: #1E1E1E;
}

/* Page Template */
.page {
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: #95C77E;
}

.header-text-div {
  color: white;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 20px;
  width: 250px;
  position:absolute;
  overflow:hidden;
}

.header-logo-div {
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 42%;
  margin-right: 30%;
  display:fixed;
}

.header-logo {
  width: 280px;
}

.header-profile {
  width: 40px;
  filter: invert(100%);  
}

.header-profile-div{
  margin-right: 1%;
  overflow:visible;
  margin-top: 0.5%;

}

.header p {
  text-decoration: none;
  color:rgb(0, 77, 17);
}

/* Footer */
.Footer{
  background-color: #DDDDDD;
  width: 100%;
  height:100px;
  bottom:0px;
  position:relative;
}

.Footer2{
  padding-top:1.5%;
  margin-left: 2%;
}

/* Main Menu */
.main-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#DDDDDD;
  padding: 1.8% 3%;
}

.missMenu, .findMenu, .hospitalMenu, .searchMenu, .forumMenu{
  font-weight: 400;
}

.missMenu:hover, .findMenu:hover, .hospitalMenu:hover, .searchMenu:hover, .forumMenu:hover{
  cursor:pointer;
  color:#69a65f;
  transition-property: color;
  /*변형 완료 1초*/
  transition-duration: 0.3s;
  /*빠른 시작 서서히 감속*/
  transition-timing-function: ease-out;
}

/*
.missMenu:hover, .findMenu:hover, .hospitalMenu:hover, .searchMenu:hover, .forumMenu:hover{
  cursor:pointer;
  background-color:#eef5ed;
  padding:28px;
  border-radius:8px;
}
*/

/* Banner in Main Menu */
.main-logo2 {
  width: 100%;
}

/* Miss Menu, Find Menu, Search Menu, Forum Menu */
.miss-board, .moreinfo-board, .moreinfo2-board, .moreInfo-page, .post-page,
.UploadPost-page , .find-upload-page, .find-board,
.search-board, .main-board, .hospital-map, .upload-board,
.my-info-board, .my-post-board, .my-info-edit-board,
.seoul-map-board {
  width: 100%;
  background-color: #DDDDDD;
}

.forum-board {
  width: 100%;
  background-color: #DDDDDD;
  height: 100%;
}

.detail-board {
  width: 100%;
  background-color: #DDDDDD;
  height: 100vh;
}

.search-page, .FindUploadPage, .main-page, .map-page, .moreInfo-page, .moreInfo2-page,
.post-detail-page {
  width: 98%;
  height: auto;
  margin: auto;
  background-color: #FFFFFF;
}

.forum-page, .detail-page {
  width: 98%;
  height: 100%;
  margin: auto;
  background-color: #FFFFFF;
}

.my-information-page {
  width: 100%;
  background-color: #DDDDDD;
}

/* .my-menu{
  background-color: #eef5ed;
  margin-left: 1%;
  margin-right:1%;
  margin-bottom:-1%;
  padding-left:1%; 
} */

.Video{
  margin-left:1.9%;
}

.upload-page, .Forum-UploadPost {
  width: 98%;
  height: auto;
  margin: auto;
  background-color: #eef5ed;  
  padding-bottom: 5%;  
}

.login-page{
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #eef5ed;
  padding-top:10px;
  padding-bottom:15%;  
}

.Bind{
  display:flex;
}

.miss-page, .find-page {
  width: 98%;
  height: 150vh;
  padding: 0;
  
  background-color: #FFFFFF;
}

.miss-page h2, .moreInfo-page h2, .moreInfo2-page h2, .detail-page h2,
.find-page h2, .search-page h2, .forum-page h2, .hospital-map h2, .upload-page h2,
.post-detail-page h2, .map-page h2{
  padding: 5px;
  background-color: #FFFFFF;
  margin: 0;
}

.upload-page h2, .Forum-UploadPost h2 {
  padding: 5px;
  height: auto;
  margin: auto;
  background-color: #eef5ed;  
}

.login-page h2 {
  margin-top:-20px;
  padding: 12px;
  height: auto;  
  background-color: #eef5ed; 
}

.signup-page h2{
  margin-top:auto;
  margin-bottom:auto;
  padding:10px;
  background-color: #eef5ed; 
}