.detail-page2{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-bottom:30px;
    //flex-direction: column;

    /*
    .imgs{
        margin-left:-10%;
    }
    */

    .detailText{
        display:flex;
        position:relative;
        align-items: center;
    }

    h3{
        font-family: 'NanumSquare', sans-serif, bold;
        color: #2d533e;
    }

    .detailContent{
        background-color:#eef5ed;
        padding-left:2%;
        padding-right:25%;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        border-radius:10px;
        //margin-left:-20%;
        margin-top:2%;
    }

    .upload-date{
        padding-top:1px;
        margin-bottom:-5px;
        font-size: 15px;
        color: #69a65f;
        font-family: 'NanumSquare', sans-serif, light;
      }
}

.title-btn{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-right:0.2%;
    justify-content: row;

    .goBack-btn{
        margin-bottom: 5px;
        margin-left: 80%;
        margin-top:auto;
        //margin-right: 2px;
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}
