.detail-page2{
    // width: 100%;
    // height: 100%;
    // display: inline-block;
    // position: relative;
    // align-items: center;
    // justify-content: space-around;
    padding-left: 10%;
    padding-right: 2%;
    // margin-bottom:30px;

    .imgs{
        width: 40%;
        margin-top: 2%;
        float: left;      
    }

    .detailText{
        display:flex;
        position:relative;
        align-items: center;
    }

    h3{
        font-family: 'NanumSquare', sans-serif, bold;
        color: #2d533e;
    }

    .detailContent{
        width: 46%;
        float: right;
        background-color:#eef5ed;
        padding-left:2%;
        // padding-right:25%;
        padding-top: 1%;
        padding-bottom: 2%;
        flex-direction: column;
        border-radius:10px;
        margin-left: 4%;
        margin-right: 4%;
        margin-top:3%;
    }

    .upload-date{
        padding-top:1px;
        margin-bottom:-5px;
        font-size: 15px;
        color: #69a65f;
        font-family: 'NanumSquare', sans-serif, light;
      }

    .found-btn{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.title-btn{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-right:0.2%;
    justify-content: row;

    .goBack-btn{
        margin-bottom: 5px;
        margin-left: 80%;
        margin-top:auto;
        //margin-right: 2px;
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}
