.upload-date{
    margin-left:60%;
    margin-right:20%;
    margin-bottom:-10px;
    font-size: 15px;
    color: #40643b;
  }

.detail-page2{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    //flex-direction: column;

    .detailContent{
        background-color:#eef5ed;
        padding-left:2%;
        padding-right:25%;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        border-radius:10px;
        margin-left:-10%;
    }
}

.goBack-btn{
    margin-bottom: 40px;
    margin-left: 63%;
    margin-right:31%;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #69a65f;
    color: white;
    font-weight: bold;
    font-size:14px;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif, bold;
}