.miss-page-upload-btn{
    margin-right:0.2%;
    margin-bottom:-1%;
    margin-top:-2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .miss-page-upload-btn2{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.misspage-moreInfo-btn, .miss-page-moreInfo2-btn{
    margin-left:1%;
    margin-right:0.5%;
    margin-bottom:-1%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .misspage-moreInfo-btn2, .miss-page-moreInfo2-btn2{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: none;
        color: black;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.misspage-chart {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-top: 1.0%;
    margin-bottom: 0%;
    background-color: #eef5ed;
    

    .miss-pie {
        width: 32%;
        float: left;
        background-color: #eef5ed;
        border-radius: 10px 0px 0px 10px;

        .miss-pie-p1 {
            padding-top: 2%;
            padding-left: 5.4%;
            color: #376330;
        }
    }

    .miss-bar {
        width: 68%;
        float: right;
        background-color: #eef5ed;
        border-radius: 0px 10px 10px 00px;

        .miss-bar-p1 {
            padding-top: 1%;
            padding-left: 30%;
            color: #376330;
        }
    }
}