/**
 * ./src/components/page/miss/MissPage.scss
 */

 .uplode{

 }

 .moreInfo{
    
 }

 .carousel{
    display: flex;
 }

 /*.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.carousel {
    display: inline-block;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
}*/