.miss-page-upload-btn{
    margin-right:0.2%;
    margin-bottom:-1%;
    margin-top:-2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .miss-page-upload-btn2{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.misspage-moreInfo-btn, .miss-page-moreInfo2-btn{
    margin-left:1%;
    margin-right:0.5%;
    margin-bottom:-1%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .misspage-moreInfo-btn2, .miss-page-moreInfo2-btn2{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: none;
        color: black;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.misspage-chart {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3.5%;
    margin-left: 0.6%;
    margin-right: 0.6%;
    background-color: #eef5ed;
    border-radius: 8px;

    .miss-pie {
        width: 35%;

        .miss-pie-p1 {
            margin: 0 auto;
            padding-top: 8%;
            padding-left: 8.4%;
            color: #376330;
        }
    }
}