.upload-page2{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eef5ed;
    margin-left:12px;
    margin-right:12px;
    margin-top:10px;

    form{
        select{
          width: 200px;
          height: 25px;
          display: flex;
          position: relative;
        }

        .name, .age, .nuetering, .place, .kakaoId, .date, .feature, .photo {
          padding: 10px;
          display: flex;
          position: relative;
          width:500px;
          height:25px;
          margin-left:-9px;
          margin-bottom:2px;
          align-items: center;

          //justify-content: space-evenly;
        }

        .missplaceButton{
          background-color: #84b77d;
          border: none;
          color: white;
          padding: 4px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          font-family: 'NanumSquare', sans-serif, bold;
          margin-left: 5px;
          border-radius: 5px;
        }

        .missphotoButton{
          background-color: #84b77d;
          border: none;
          color: white;
          padding: 4px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          font-family: 'NanumSquare', sans-serif, bold;
          margin-left: 5px;
          border-radius: 5px;
        }

              
    }
}

button{
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: 25px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #69a65f;
  color: white;
  font-weight: bold;
  font-size:14px;
  cursor: pointer;
  font-family: 'NanumSquare', sans-serif, bold;
}  



body {
    
    font-family: 'Roboto', sans-serif;
  }
  
  .dropzone {
    width: 98%;
    margin: 1%;
    border: 2px dashed #3498db !important;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .dropzone.dz-drag-hover {
    border: 2px solid #3498db !important;
  }
  
  .dz-message.needsclick img {
    width: 50px;
    display: block;
    margin: auto;
    opacity: .6;
    margin-bottom: 15px;
  }
  
  span.plus {
    display: none;
  }
  
  .dropzone.dz-started .dz-message {
    display: inline-block !important;
    width: 120px;
    float: right;
    border: 1px solid rgba(238, 238, 238, 0.36);
    border-radius: 30px;
    height: 120px;
    margin: 16px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .dropzone.dz-started .dz-message span.text {
    display: none;
  }
  
  .dropzone.dz-started .dz-message span.plus {
    display: block;
    font-size: 70px;
    color: #AAA;
    line-height: 110px;
  }