.warning{
  margin-left:50%;
  margin-right:31%;
  margin-bottom:-10px;
  font-size: 15px;
  color: #40643b;
}

.upload-page2{
    padding-left: 25px;
    padding-top: 12px;
    //padding-bottom: 15px;
    background-color: white;
    margin-left:30%;
    margin-right:30%;
    margin-top: 2px;
    //margin-bottom:5px;
    border:2px #84b77d;
    border-radius: 15px;

    form{
        input {
          font-family: 'NanumSquare', sans-serif, bold;
          color: #376330;

          border-color: #b4c5b0;
          border-radius: 6px;
          border-width: 2px; 
          // padding: 0.4%; 
        }

        textArea {
          font-family: 'NanumSquare', sans-serif, bold;
          color: #376330;

          border-color: #b4c5b0;
          border-radius: 6px;
          border-width: 2px; 
          padding: 0.4%; 
        }

        .specify_farColor{
          // width: 300px;
          height: 25px;
          display: flex;
          position: relative;
          align-items: center;
          padding-bottom: 28px;

          select{
            width: 180px;
            height: 21px;
          }
        }

        .neutering{
          label {
            font-weight: 400;
            font-size: 14px;
          }
          
          padding-left: 10px;
          padding-top: -25px;
          display: flex;
          position: relative;
          width:500px;
          height:25px;
          margin-left:-9px;
          margin-bottom:10px;
          align-items: center;
        }

        .age{
          padding-left: 10px;
          padding-bottom: 25px;
          padding-top: 10px;
          display: flex;
          position: relative;
          width:500px;
          height:25px;
          margin-left:-9px;
          margin-bottom:2px;
          align-items: center;
        }

        .name, .place, .kakaoId, .date, .feature, .photo {
          padding: 10px;
          display: flex;
          position: relative;
          width: 500px;
          height: 25px;
          margin-left: -10px;
          margin-bottom: 3px;
          align-items: center;
        }

        .Findfeature{
          padding: 10px;
          display: flex;
          position: relative;
          width: 35%;
          height: 3%;
          margin-left: 8px;
          margin-bottom: 3px;
          align-items: center;
        }

        .missplacetext, .findplacetext {
          width:336px;
        }

        .missplaceButton, .findplaceButton{
          background-color: #84b77d;
          border: none;
          color: white;
          padding: 4px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          font-family: 'NanumSquare', sans-serif, bold;
          margin-left: 5px;
          border-radius: 5px;
        }

        input[type=file]::file-selector-button {
          background-color: #84b77d;
          border: none;
          color: white;
          padding: 4px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 13px;
          font-family: 'NanumSquare', sans-serif, bold;
          margin-left: 5px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background: #84b77d;
            color: #fff;
          }
        }
    }
}

.submit-btn{
  margin-top: 8px;
  margin-bottom: 5%;;
  margin-left: 60%;
  margin-right:30%;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #69a65f;
  color: white;
  font-weight: bold;
  font-size:14px;
  cursor: pointer;
  font-family: 'NanumSquare', sans-serif, bold;
}  
