.map-section{
    width: 100%;
    margin: auto;

    // margin-left:-5px;

    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .map-box{
        width: 98%;
        background: #92c465;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        border-radius: 15px;
    }
}

#button{
    margin: 20px;
    margin-top: auto;
    background-color: #69a65f; /* Green */
    border: none;
    color: white;
    padding: 8px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif, bold;
    border-radius: 5px;
}

.placeinfo_wrap {position:absolute;bottom:28px;left:-150px;width:300px;}
.placeinfo {position:relative;width:100%;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;padding-bottom: 10px;background: #fff; font-weight:500;}
.placeinfo:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.placeinfo_wrap .after {content:'';position:relative;margin-left:-12px;left:50%;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.placeinfo a, .placeinfo a:hover, .placeinfo a:active{color:#fff;text-decoration: none;}
.placeinfo a, .placeinfo span {display: block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.placeinfo span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
.placeinfo .title {font-weight: 500; font-size:14px;border-radius: 6px 6px 0 0;margin: -1px -1px 0 -1px;padding:10px; color: #fff;background: #769B63;background: #769B63 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.placeinfo .tel {color:#0f7833;}
.placeinfo .jibun {color:#999;font-size:11px;margin-top:0;}


.area {
    font-weight: 500;
    position: absolute;
    background: #fff;
    border: 3px solid #769B63;
    border-radius: 4px;
    font-size: 14px;
    top: -5px;
    left: 15px;
    padding:4px;
}

.info {
    font-size: 12px;
    padding: 5px;
}
.info .title {
    font-weight: bold;
}

.map-page{
    .map-page2{
        margin-right:0.2%;
        margin-bottom:-1%;
        margin-top:-2px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: row;

        .toHospital{
            width: 200px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #84b77d;
            color: white;
            font-weight: bold;
            font-size:14px;
            cursor: pointer;
            font-family: 'NanumSquare', sans-serif, bold;
            margin-left:53%;
            margin-top:4px;
        }
        
        .toSeoulmap{
            width: 180px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #69a65f;
            color: white;
            font-weight: bold;
            font-size:14px;
            cursor: pointer;
            font-family: 'NanumSquare', sans-serif, bold;
            margin-top:4px;
            margin-left: 0.5%;
        }

        .toHospital2{
            width: 200px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #84b77d;
            color: white;
            font-weight: bold;
            font-size:14px;
            cursor: pointer;
            font-family: 'NanumSquare', sans-serif, bold;
            margin-top:4px;
            margin-left:59.68%;
        }
        
        .toSeoulmap2{
            width: 180px;
            height: 30px;
            border: none;
            border-radius: 8px;
            background-color: #69a65f;
            color: white;
            font-weight: bold;
            font-size:14px;
            cursor: pointer;
            font-family: 'NanumSquare', sans-serif, bold;
            margin-top:4px;
            margin-left: 0.5%;
        }
    }
}