.find-page-upload-btn{
    margin-right:0.2%;
    margin-bottom:-1%;
    margin-top:-2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .find-page-upload-btn2{
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

.find-page-moreInfo-btn, .find-page-moreInfo2-btn{
    margin-left:1%;
    margin-right:0.5%;
    margin-bottom:-1%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: row;
    justify-content: space-between;

    .find-page-moreInfo-btn2, .find-page-moreInfo2-btn2{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: none;
        color: black;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}

// .findpage-chart {
//     padding-left: 2%;
//     padding-right: 2%;
//     margin-top: 1.0%;
//     margin-left: 0.6%;
//     margin-right: 0.6%;
//     background-color: #eef5ed;
//     border-radius: 8px;

//     .find-pie {
//         width: 35%;
//         float: left;
//         background-color: #eef5ed;

//         .find-pie-p1 {
//             margin: 0 auto;
//             padding-top: 5%;
//             padding-left: 8.4%;
//             color: #376330;
//         }
//     }

//     .find-bar {
//         width: 65%;
//         float: right;
//         background-color: #eef5ed;

//         .find-bar-p1 {
//             padding-top: 1%;
//             padding-left: 30%;
//             color: #376330;
//         }
//     }
// }

.findpage-chart {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-top: 1.0%;
    
    background-color: #eef5ed;
    

    .find-pie {
        width: 32%;
        float: left;
        background-color: #eef5ed;
        border-radius: 10px 0px 0px 10px;

        .find-pie-p1 {
            margin-left: 0px;
            padding-top: 2%;
            padding-left: 5.4%;
            color: #376330;
        }
    }

    .find-bar {
        width: 68%;
        float: right;
        background-color: #eef5ed;
        border-radius: 0px 10px 10px 00px;

        .find-bar-p1 {
            padding-top: 1%;
            padding-left: 30%;
            color: #376330;
        }
    }
}