/*ForumPage.js*/

.forum-page2{
    display: flex;
    position: relative;
    align-items: center;
    width: 500px;
    height: 25px;
    margin-left:1.5%
}

.forumNumber{
    font-family: 'NanumSquare', sans-serif, bold;
    color: #376330;

    margin-left: 2%;

    border-color: #b4c5b0;
    border-radius: 6px;
    border-width: 2px;
    padding: 0.2%;
    width: 50px;
    height: 22px;
}

.forumUpload-btn{
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 1.5%;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #69a65f;
    color: white;
    font-weight: bold;
    font-size:14px;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif, bold;
}


/*PostPage.js*/

.post-detail-page2{
    padding-bottom:15%;
    //margin-bottom:-10px;

    .next-button {
        margin-left:1.4%;
        width: 130px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }

    .pre-button{
        margin-left:0.5%;
        width: 130px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }

    .post-detail-table{
        table, td, th {
            border-collapse : collapse;
            background-color: #eef5ed;
          }
        
        table {
            border-left : 20px solid white;
            border-right : 20px solid white;
            width : 100%;
            height: 100%;
            margin: auto;
            table-layout:fixed;
        }
        
        td {
            font-weight: 400;
            padding: 10px;
            text-align : center;
            vertical-align : middle;
            border-bottom: 3px solid white;
            border-left: 3px solid white;
            width: 90px;
            height: 20px;
        }
        
        th {
            background-color: #b4c5b0;
            padding: 10px;
            text-align : center;
            vertical-align : middle;
            //border-top: 3px solid white;
            border-bottom: 3px solid white;
            border-left: 3px solid white;
            width: 15px;
            height: 20px;
        }

        .content-td {
            text-align : left;
            padding-left: 2%;
        }
    }

    .Post-back-btn{
        margin-left:1.4%;
        margin-top:0.5%;
        width: 160px;
        height: 30px;
        border: none;
        border-radius: 8px;
        background-color: #69a65f;
        color: white;
        font-weight: bold;
        font-size:14px;
        cursor: pointer;
        font-family: 'NanumSquare', sans-serif, bold;
    }
}



/*UploadPage.js*/

.Forum-Upload-warning{
    h4{
        margin-left:46%;
        margin-right:31%;
        //margin-bottom:-0.1%;
        font-size: 15px;
        color: #40643b;
    }
}

.Forum-UploadPost2{
    padding-left: 25px;
    padding-top: 2%;;
    padding-bottom: 2%;
    background-color: white;
    margin-left:30%;
    margin-right:30%;
    margin-top: -1%;
    //margin-bottom:5px;
    border:2px #84b77d;
    border-radius: 15px;

    .Form-UploadPost-textarea{
        display:flex;
        position:relative;
        align-items: center;
    }

    .Form-UploadPost-textarea2{
        font-family: 'NanumSquare', sans-serif, bold;
        color: #376330;

        width: 85%;
        height: 20%;

        border-radius: 6px;
        border-width: 2px;
        border-color:#b4c5b0;

        padding: 0.2%;
    }

    .Form-UploadPost-input {
        font-family: 'NanumSquare', sans-serif, bold;
        color: #376330;
        
        border-radius: 6px;
        border-width: 2px;
        border-color:#b4c5b0;

        padding: 0.2%;
    }
}

.Forum-submit-btn{
    margin-top: 8px;
    margin-bottom: 5%;;
    margin-left: 60%;
    margin-right:30%;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #69a65f;
    color: white;
    font-weight: bold;
    font-size:14px;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif, bold;
} 